<nav class="sidebar">
  <div class="sidebar-header">
    <img src="assets/images/logo-icon.png" class="logo-img" />
    <h2 class="sidebar-text-to-hide" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">PICTOtrackr</h2>
    <div class="sidebar-user">
      <span>{{ currentUser()?.email || currentUser()?.username }}</span>
    </div>
  </div>

  <div class="sidebar-menu">
    <ul>

      <ng-container *ngFor="let link of menuLinks">
        <li *ngIf="canShow(link)">
          <a [routerLink]="[link.path]" 
             [class.active]="isActiveRoute(link.path)" 
             class="menu-item">

            <ng-container *ngIf="link.icon?.includes('assets/'); else matIcon">
              <img [src]="link.icon" class="menu-img" alt="{{ link.label }}" />
            </ng-container>
            <ng-template #matIcon>
              <mat-icon>{{ link.icon }}</mat-icon>
            </ng-template>

            <span>{{ link.label }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="sidebar-footer">
    <a (click)="logout()" class="menu-item" style="cursor:pointer;">
      <img src="assets/icons/user.png" alt="Logout" class="menu-img" />
      <span>Log out</span>
    </a>
    <div class="sidebar-user">
      <span>© 2025. All Rights Reserved.</span>
    </div>
  </div>
</nav>
